html, body{
    background-color: black;
}
.s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 35rem;
}
.name{
    background-color: goldenrod;
    font-size: large;
    font-weight: 500;
}
.inputt{
    border: 0.1rem solid black;
   background-color: white;
   border-radius: 0.4rem;
}
.form1{
    border: 0.1rem solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 1rem;
    background-color: goldenrod;
    border-radius: 2rem;
}
.sub{
    border: 0.1rem solid black;
    background-color: rgb(251, 42, 5);
    color: antiquewhite;
    padding: 0.1rem;
    border-radius: 0.2rem;
    
}
.s1 h1{
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: goldenrod;

}
.s1 h1:hover{
color: red;
transition: ease;
}
.ff
{
    justify-content: center;
    color: whitesmoke;
    gap: 20px;
    
justify-content: text;
flex-direction: row;
width: 60vh;
margin-bottom: 30px;
text-align: center;
border: 0.2rem black;
background-color: red;
border-radius: 0.4rem;
border-style:ridge;

}
.kk{
    padding-top: 2rem;



}
