<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <main>
        <section class="section-1">
            <h1>Image Carousel</h1>
        </section>
          
        <section class="section-2">
            <h2>Content</h2>
        </section>
      </main>
        <footer>
          <div className="footer">
            <button>Footer</button>
          </div>
          </footer>






          <div className='bg-red-900 h-screen'>
            <div className=' border text-yellow-500 font-bold border-black bg-black'>
            
                 <h1>FORM-1</h1>
             </div>
             <div>
 
                 <div className=' flex justify-center pt-[50px] align-middle items-center uppercase  '>
                 <form className=' bg-yellow-700' >
                         <div >
                             <label className=' flex justify-start  font-semibold border-black'>enter your name:</label>
                             <div className=' flex justify-start  '>
                                 <input type="text" className='m-2 border border-black' required />
                             </div>
                             
                         </div>
                         <div>                       
                         <label className=' flex justify-start  font-semibold '>select image:</label>
                            <div className=' flex justify-start  border border-black p-11 bg-yellow-700 '>
                                 <input type="file" />
                             </div>
                         </div>
                         <div>
                         <label className=' flex  font-semibold  '>
                             description:
                             </label>
                             <div className=' flex justify-start font-semibold'>
                                 <input type="text" className='m-2 border border-black'
                                 required bg-blue-400/>
                             </div>
                         </div>
                        
                         

                         <!-- list -->
                         <h1>list </h1>

                        </div>
                        <div>
                        <div className='flex justify-center m-4 gap-2'>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>    
                            </div>
                            <div className='flex justify-center m-4 gap-2'>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>
                                <div className='border border-yellow-500'>
                                    <img className='aspect-auto w-[150px] p-4' src="./images/one.jpg" alt="" />
                                    <div className='border border-yellow-500 flex text-yellow-500 justify-center items-center align-middle'>
                                        <h1>Title</h1>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        </div>
    
    
            
                    </div>
            </>
        )
    }
    
    export default List;
 
 
                     </form>
                     
                 </div>
             </div>
             </div>




</body>
</html>